.k-button {
  align-items: center;
  background-color: var(--blackish);
  border-radius: 10rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  color: var(--whiteish);
  display: inline-flex;
  font-size: 1rem;
  font-weight: normal;
  justify-content: center;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  min-width: 6rem;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  transition: background-color 500ms;

  &:hover,
  &:focus,
  &:active {
    background-color: var(--blackish-d);
  }

  &.primary {
    background-color: var(--primary);

    &:hover,
    &:focus,
    &:active {
      background-color: var(--primary-d);
    }
  }

  &.secondary {
    background-color: var(--secondary);

    &:hover,
    &:focus,
    &:active {
      background-color: var(--secondary-d);
    }
  }

  &.danger {
    background-color: var(--danger);

    &:hover,
    &:focus,
    &:active {
      background-color: var(--danger-d);
    }
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.round {
    border-radius: 50%;
    min-height: 3rem;
    min-width: 3rem;
    padding: 0.5rem;
  }
}
