body {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

p {
  margin-bottom: 0.8rem;
}

a {
  font-style: italic;
  color: var(--primary);

  &:hover,
  &:active,
  &:focus {
    color: var(--primary-d);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito', sans-serif;
  margin-bottom: 0.8rem;
}
