.k-label-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.k-label {
  align-self: flex-start;
  display: block;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-bottom: 0.1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.k-input {
  background-color: var(--whiteish);
  border-radius: 10rem;
  border: 1px solid var(--blackish);
  font-size: 0.9rem;
  font-weight: normal;
  min-width: 6rem;
  padding: 0.5rem 1rem;
  transition: background-color 500ms;

  &:hover,
  &:focus,
  &:active {
    background-color: var(--whiteish-l);
  }
}
